---
import Page from "src/layouts/Page.astro";
import "@fontsource/rowdies";
---

<Page>
  <section class="px-4">
    <div class="mx-auto max-w-5xl">
      <h1 class="text-7xl lg:text-9xl rowdies mt-12 lg:mt-24 ml-[-0.5rem]">
        Uses
      </h1><h3 class="text-2xl mb-8 py-2">Stuff I like</h3>
    </div>
  </section>
  <section class="px-4">
    <div class="mx-auto max-w-5xl">
      <div class="my-4">
        <h3>Software</h3>
        <ul>
          <li><b>Code Editor:</b> Visual Studio Code</li>
          <li><b>Editor Theme:</b> Bearded Theme: Vivid Black</li>
          <li><b>Editor Font:</b> Dank Mono</li>
          <li><b>Code Completion:</b> Github Copilot</li>
          <li><b>Operating System:</b> Manjaro Linux</li>
          <li><b>Laptop OS:</b> MacOS</li>
        </ul>
      </div>
      <div class="my-4">
        <h3>Hardware</h3>
        <ul>
          <li><b>Monitors:</b> 2x Lg 24MP60G-B 24" 1080p 75Hz IPS Monitor</li>
          <li><b>Chair:</b> President Office Chair from a local company.</li>
          <li>
            <b>My favorite:</b>
            <a
              href="https://www.amazon.com/wheels-replacement-casters-hardwood-duty/dp/B01G643EU6?ref_=ast_sto_dp"
              >Roller Blade Wheels for office chairs. Thanks, Wes Bos!</a
            >
          </li>
          <li>
            <b>Desk:</b> Bespoke Stainless Desk with Chemical Resistant Topper.
          </li>
          <li><b>Laptop:</b>Macbook Air M1 (2020)</li>
          <li>
            <b>Keyboard:</b> Epomaker Skyloong SK61 Mechanical Keyboard with Optical
            Gateron Blue Switches
          </li>

          <li><b>Mouse:</b> Logitech MX Master 3</li>
          <li>
            <b> Desktop Specs:</b>
            <ul>
              <li>Corsair Carbide 275R Case</li>
              <li>Asus Prime B550M-A Motherboard</li>
              <li>AMD Ryzen 5 3600 Processor</li>
              <li>Corsair Vengeance LPX 16GB DDR4 3200MHz Ram</li>
              <li>Evga Nvidia GeForce GTX 2060 KO Video Card</li>
            </ul>
          </li>
          <li><b>Keyboard on the go:</b> Logitech K380</li>
        </ul>
      </div>
      <div class="my-4">
        <h3>Other stuff</h3>
        <ul>
          <li><b>For Music:</b> Bowers & Wilkins PX Wireless Headphones</li>
          <li>
            <b>For the Commute:</b> Sennheiser CX 400BT True Wireless Earbuds
          </li>
          <li><b>For Meetings:</b> Airpods 2</li>
          <li>
            <b>Backpack:</b>
            <a href="https://www.velez.com.co/morral-1015807-02/p"
              >Velez Archaeology Backpack</a
            >
          </li><li>
            <b>Lighter Rugged Backpack:</b>
            <a
              href="https://www.amazon.com/dp/B0956S5YBQ?psc=1&ref=ppx_yo2ov_dt_b_product_details"
              >COTS Daypack</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</Page>

<style>
  li {
    margin-top: 0.3rem;
  }
</style>
