---
import watercolorwebp from "../assets/watercolor.webp";
import "@fontsource/major-mono-display";
---

<section
  class="lg:max-w-5xl max-w-100 mx-auto lg:text-center flex flex-col justify-center align-center lg:my-1 mb-4 bg-[length:700px_700px] lg:bg-contain bg-no-repeat bg-center lg:py-32 gap-10"
  style={{ backgroundImage: `url(${watercolorwebp.src})` }}
>
  <h1
    class="p-2 major mt-10 mx-8 text-4xl lg:text-5xl lg:max-w-xl lg:mx-auto bg-white bg-opacity-50 lg:leading-relaxed"
  >
    i believe the web has the power to change the world
  </h1>
  <div class="mx-9">
    <p
      class="p-2 mb-10 text-lg lg:max-w-prose lg:mx-auto bg-white bg-opacity-50"
    >
      I'm a full stack Developer from Medellín, Colombia. I want a web that's
      fast, UX driven, and accessible. I strive every day to be part of the
      teams that make that happen.
    </p>
  </div>
</section>
