---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/oxygen";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
//@ts-ignore
import Transition from "@julian_cataldo/astro-transition/Transition.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="mt-20">
    <Transition speed={500} background="white" zIndex={1000} />
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
